extends layout

block content
	.tit
		a(href="https://dribbble.com/AEROLAB") Dribbble Aerolab
	.flip-container.col-4
		.flipper
			.front
				img(src="https://d13yacurqjgara.cloudfront.net/users/440947/screenshots/2171108/dribbble_shot_1x.png", alt="/")
			.back Shout 1
	.flip-container.col-4
		.flipper
			.front
				img(src="https://d13yacurqjgara.cloudfront.net/users/440947/screenshots/2167085/dribbble_shot_1x.png", alt="/")
			.back Shout 2
	.flip-container.col-4
		.flipper
			.front
				img(src="https://d13yacurqjgara.cloudfront.net/users/440947/screenshots/2161398/lab_800x600_1x.png", alt="/")
			.back Shout 3
	.flip-container.col-4
		.flipper
			.front
				img(src="https://d13yacurqjgara.cloudfront.net/users/31671/screenshots/2150509/aerolab_s_icon_construction_1x.png", alt="/")
			.back Shout 4